{% extends 'base.html' %} {{ title }}{% block content %}

<div class="student-registration-form mt-5">
  <h3 class="mb-4">Registered Students: {{ count }}</h3>
  {% if students %}
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Level</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ student.firstname }}</td>
          <td>{{ student.lastname }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.level|upper }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <span class="step-links">
      {% if students.has_previous %}
      <a href="?page=1">&laquo;</a>
      <a href="?page={{ students.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ students.number }} of {{ students.paginator.num_pages }}
      </span>

      {% if students.has_next %}
      <a href="?page={{ students.next_page_number }}">next</a>
      <a href="?page={{ students.paginator.num_pages }}">&raquo;</a>
      {% endif %}
    </span>
  </div>
  {% else %}
  <p class="text-danger">No record found in database</p>
  {% endif %}
</div>

{% endblock %}
